body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: aliceblue;
    background-color: black;
    text-align: center;
    margin-top: 200px;
}
#btn{
    color: rgb(0, 0, 0);
    background-color: aqua;
    font-size: 25px;
}
#label{
    color: rgb(208, 218, 255);
}
#span{
    color: deeppink;
}