body{
    margin: 0%;
}
#stopwatch-container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}
#content{
    text-shadow: 3px 4px 4px lightskyblue;
    font-weight: bold;
    background: linear-gradient(to right, silver, white);
}
#start-button{
    background-color: greenyellow;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#stop-button{
    background-color: red;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    font-size: 30px; 
    cursor: pointer;

}
#reset-button{
    background-color: black;
    border: 3px solid black;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}