body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    background: linear-gradient(to right, lightblue, white);
    box-shadow: 15px 10px 20px black;
    max-width: 600px;
    border: 5px;
    border-radius: 10px;
}
h1{
    color: blueviolet;
    font-size: 2.5rem;
    text-align: center;
}
#input{
    text-align: center;
    font-weight: bold;
    font-size: medium;
    background-color: khaki;    
}
#output{
    margin: 15px;
}
#images img{
    width: 100px;
    height: 100px;
}
#button{
    border: 5px;
    border-radius: 7px;
    font-size: large;
    background-color: rgb(112, 110, 110);
    color: white;
}
#diceNum{
    font-style: italic;
    color: rgb(255, 255, 255);
    border: 4px;
    border-radius: 3px;
    background: linear-gradient(to right, black, rgb(108, 98, 98));
}
