.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider img{
    width: 600px;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 15px;
    font-size: 20px;
    background-color: silver;
}
.rightButton{
    right: 0;
}
.leftButton{
    left: 0;
}
/*An animation that changes the opacity from 50% to 100%*/
@keyframes fade{
    from {opacity: 0.5;}
    to {opacity: 1;}
}